{% extends 'post_bar/base.html' %}
{% block title %}{{ post_bar.bar_name }}{% endblock %}
{% block style %}{% endblock %}
{% block content %}
<div class="container">
    <div class="banner media">
        <div class="media-left">
            <img class="post-cover media-object" src="{{ post_bar.cover.url }}" alt="">
        </div>
        <div class="media-body">
            <a href="{{ post_bar.get_absolute_url }}"><h2 class="media-heading">{{ post_bar.bar_name }}</h2></a>
            <p class="post-bar-description">{{ post_bar.description }}</p>
        </div>
    </div>

    <div class="container col-md-offset-2 col-md-8">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索帖子...">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <button class="btn btn-default navbar-btn">发表新帖</button>
            </div>
        </nav>
        <div class="list-group">
        {% for post in posts %}
            <div class="list-group-item">
                <div class="container-fluid">
                    <div class="col-md-8">
                        <h4 class="list-group-item-heading"><a href="{% url 'post_deatil' post.pk %}">{{ post.title }}</a></h4>
                        <p class="list-group-item-text">{{ post.preview }}</p>
                    </div>
                    <div class="col-md-4">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-user"><a href="{{ post.poster.get_absolute_url }}">{{ post.poster.username }}</a></span>
                            </div>
                            <div class="col-md-12"><span class="glyphicon glyphicon-time">{{ post.create_time.date }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <h3>该贴吧还没有贴子</h3>
        {% endfor %}
        </div>
    </div>
    <div class="post-form-wrapper container col-md-offset-2 col-md-8">
        <h4><span class="glyphicon glyphicon-pencil">发表新帖</span></h4>
        <hr>
        <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            <input type="text" hidden value="{{ post_bar.pk }}" name="bar_pk">
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="请填写标题">
            </div>
            <div class="form-group">
                <textarea name="content" class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-default">发表</button>
        </form>
    </div>
</div>
{% endblock %}