{% extends 'post_bar/base.html' %}
{% block content %}
    <div class="container">
        <form action="{% url 'enter_or_create_bar' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input class="form-control input-lg" type="text" name="bar_name" placeholder="彩檬">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-default btn-lg">进吧 </button>
                    <a href="{% url 'add_post_bar' %}" type="button"> 创建贴吧</a>
                </div>
            </div>
        </form>
    </div>
    <li role="separator" class="divider"></li>
    <div class="container">
        <div class="col-md-offset-2 col-lg-6">
            <h2>最新创建的贴吧</h2>
            <ul class="list-group">
            {% for bar in bars %}
                <li class="list-group-item">
                    <a href="{{ bar.get_absolute_url }}"><h3>{{ bar.bar_name }}</h3></a>
                    创建者:<a href="{{ bar.creator.get_absolute_url }}">{{ bar.creator.username }}</a>
                </li>
            {% empty %}
                <p>还没有贴吧，<a href="{% url 'add_post_bar' %}" type="button">创建</a>一个吧</p>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}