{% extends 'post_bar/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block style %}{% endblock %}
{% block content %}
<div class="container">
    <div class="banner media">
        <div class="media-left">
            <img class="post-cover media-object" src="{{ post_bar.cover.url }}" alt="">
        </div>
        <div class="media-body">
            <h2 class="media-heading"><a href="{{ post_bar.get_absolute_url }}">{{ post_bar.bar_name }}</a></h2>
            <p class="post-bar-description">{{ post_bar.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="post-title col-sm-offset-2 col-sm-8">
            <h1>{{ post.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="user-info col-sm-offset-2 col-sm-2">
            <div class="avatar thumbnail">
                <img src="{{ post.poster.avatar.url }}" alt="{{ post.poster.username }}">
                <div class="caption">
                    <p><a href="{{ post.poster.get_absolute_url }}">{{ post.poster.username }}</a></p>
              </div>
            </div>
        </div>
        <div class="post-content col-sm-6">
            <p class="content">{{ post.content }}</p>
            <div class="bottom-info row" bottom>
                <p class="">{{ post.modify_time }} <a href="#id-comment-form">回复 </a>
                {% if user == post.poster %}<a href="{% url 'delete_post' post.pk %}">删除</a> {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% for comment_has_not_father in comments_has_not_father %}
    <div class="row">
        <div class="user-info col-sm-offset-2 col-sm-2">
            <div class="avatar thumbnail">
                <img src="{{ comment_has_not_father.commenter.avatar.url }}" alt="{{ comment_has_not_father.commenter.username }}">
                <div class="caption">
                    <p><a href="{{ comment_has_not_father.commenter.get_absolute_url }}">{{ comment_has_not_father.commenter.username }}</a></p>
                </div>
            </div>
        </div>
        <div class="post-content col-sm-6">
            <p>{{ comment_has_not_father.comment }}</p>
            <div class="bottom-info row" bottom>
                <p class="">
                    {{ comment_has_not_father.comment_time }}
                    <a data-toggle="collapse" href="#collapse_{{ comment_has_not_father.pk }}" aria-expanded="false" aria-controls="collapse_{{ comment_has_not_father.pk }}">回复</a>
                    {% if user == comment_has_not_father.commenter or user == post.poster %}
                        <a href="{% url 'delete_comment' comment_has_not_father.pk %}">删除</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% if comment_has_not_father.has_child %}
        <div class="row">
            <div class="comment-wrapper col-xs-offset-4 col-xs-6">
                <ul class="comment-list list-group">
                    {% for comment_has_father in comment_has_not_father.child_comment.all %}
                        <li class="comment-list-item list-group-item">
                            <p>
                                <a href="{{ comment_has_father.commenter.get_absolute_url }}">{{ comment_has_father.commenter.username }}</a> 回复
                                <a href="{{ comment_has_father.father_comment.commenter.get_absolute_url }}">{{ comment_has_father.father_comment.commenter.username }}</a>:
                                {{ comment_has_father.comment }}
                            </p>
                            <div class="comment-info">
                                <a data-toggle="collapse" href="#collapse_{{ comment_has_not_father.pk }}" aria-expanded="false" aria-controls="collapse_{{ comment_has_not_father.pk }}">回复</a>
                                {% if user == comment_has_father.commenter or user == post.poster or user == comment_has_father.father_comment.commenter %}
                                    <a href="{% url 'delete_comment' comment_has_father.pk %}">删除</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="comment-form-wrapper col-xs-offset-4 col-xs-6">
            <div class="collapse" id="collapse_{{ comment_has_not_father.pk }}">
                <div class="well">
                    <form action="{% url 'create_comment' %}" method="post">
                        {% csrf_token %}
                        <input type="text" hidden value="{{ post.pk }}" name="post_pk">
                        <input type="text" hidden value="{{ comment_has_not_father.pk }}" name="comment_pk">
                        <textarea name="comment" class="form-control" rows="3"></textarea>
                        <hr>
                        <button class="btn btn-primary right" type="submit">发表</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div id="id-comment-form" class="post-form-wrapper container col-md-offset-2 col-md-8">
        <h4><span class="glyphicon glyphicon-pencil">发表回复</span></h4>
        <hr>
        <form action="{% url 'create_comment' %}" method="post">
            {% csrf_token %}
            <input type="text" hidden value="{{ post.pk }}" name="post_pk">
            <div class="form-group">
                <textarea name="comment" class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-default">发表</button>
        </form>
    </div>


</div>
{% endblock %}