{% extends 'post_bar/base.html' %}
{% block title %}注册{% endblock %}
{% block style %}
.login {
    border: 1px solid black;
    margin-top: 80px;
    padding: 0 45px;
    max-width: 500px;
}
{% endblock %}
{% block content %}
    <div class="container login">
    <form class="form-horizontal" action="{% url 'create-user' %}" method="post">
        <div class="form-group">
            <h2 class="form-signin-heading">注册新用户</h2>
        </div>
            {% csrf_token %}
        <div class="form-group">
            <label for="id_username">用户名：</label>
            <input id="id_username" class="form-control" type="text" name="username" placeholder="用户名">
        </div>
        <div class="form-group">
            <label for="id_email">邮箱：</label>
            <input id="id_email" class="form-control" type="email" name="email" placeholder="邮箱">
        </div>
        <div class="form-group">
            <label for="id_password">密码：</label>
            <input id="id_password" class="form-control" type="password" name="password" placeholder="密码">
        </div>
        <div class="form-group">
            <button type="submit">注册</button>
        </div>
        <p>已有帐号？<a href="{% url 'sign-in' %}">马上登陆</a></p>
    </form>
</div>
{% endblock %}